# Não mandar lixo pra build
venv/
.env
*.env.local
gcp-sa-key.json
__pycache__/
*.pyc
*.pyo
*.pyd
node_modules/
dist/
dist-ssr/
.vscode/
.idea/
.DS_Store
pip-cache/
.pytest_cache/
coverage/
*.db
*.sqlite3
